.selectableRow {
    cursor: pointer;
}

.doubleClickableRow {
    cursor: grab;
}

.disabled [data-cm-role="table-content-list-cell-name"] [class*="moonstone-IconTextIcon"],
.disabled [data-cm-role="table-content-list-cell-type"] {
    color: var(--color-gray60);
}
