body[data-chrome="false"][data-INDIGO-APP="contentmanager"] .mainmodule iframe.window-iframe {
    position: absolute;
}

body[data-chrome="false"][data-INDIGO-APP="contentmanager"] div.app-container div[role="presentation"].x-panel-tbar {
    display:none;
}

body[data-chrome="false"][data-INDIGO-APP="contentmanager"] div[role="presentation"].window-container {
    height: 100% !important;
    width: 100% !important;
}

body[data-chrome="false"][data-INDIGO-APP="contentmanager"] div.mainmodule > div:nth-child(2) {
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
}
