.container {
    display: flex;
    flex-flow: column nowrap;
    padding: var(--spacing-medium);
}

.rowEnd {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-medium);
    justify-content: flex-end;
    align-items: baseline;
    min-width: 100%;
    padding: var(--spacing-medium);
}

:global(label[id="jmix:i18n_j:invalidLanguages-label"] ~ div) {
    display: none;
}

:global(label[id="jmix:i18n_j:invalidLanguages-label"] ~ div) {
    display: none;
}

:global(label[id="jmix:i18n_j:invalidLanguages-label"] ~ div) {
    display: none;
}
