.closeButton {
    position: absolute;
    top: 0;
    right: 0;
}

.snackBar.snackBar {
    bottom: var(--spacing-large);
    z-index: 10013;

    display: block;
    width: 800px;
    padding: var(--spacing-large);

    background-color: var(--color-dark);
}

.snackBarScroll {
    max-height: 150px;
    overflow: auto;
}

.dragZone {
    display: flex;
    justify-content: center;
    padding: 0;

    border: 2px dashed var(--color-gray60);
}

.dropZone {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: inherit;

    color: var(--color-gray);
    text-align: center; // This one is for Safari rendering

    transition-duration: 0.1s;
}
