.cellActions {
    position: absolute;

    display: none;
    justify-content: flex-end;
    width: 120px;

    background-color: var(--color-gray);
}

.tableCell {
    &:hover .cellActions {
        display: flex;
    }
}

.tableWrapper {
    position: relative;

    flex: 1 1 0;
    max-width: 100%;

    outline: none;
    overflow: auto;
}
