$color-accent_light: rgba(99, 209, 255, 0.6);
$color-accent: rgb(0, 160, 227);

.root {
    position: absolute;
    z-index: 10000;

    pointer-events: none;
}

.rel {
    position: relative;
    top: -34px;
    left: 0;

    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 36px);

    margin-left: -2px;

    border: 2px solid rgba(0, 160, 227, 1);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(19, 28, 33, 0.2);
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;

    z-index: 10000;

    width: 100%;
    height: 32px;

    background-color: var(--color-light);

    pointer-events: all;

    overflow: hidden;
}

.header {
    gap: var(--spacing-small);
    align-self: stretch;
    width: 100%;

    padding-right: var(--spacing-small);

    background-color: var(--color-gray_light40);
}

.dragHandle {
    height: 32px;
}

.button {
    flex: 0 0 auto;
    margin: 0 4px;
}

.icon {
    width: 1rem;
    height: 1rem;
    margin: 0 var(--spacing-nano);

    vertical-align: top;
}

:global(.noprefix) .dropTarget {
    outline: 4px solid $color-accent_light;
    outline-offset: 4px;
}

:global(.noprefix) .dropTarget_insertBefore::before,
:global(.noprefix) .dropTarget_insertAfter::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;

    font-size: 16px;
    color: $color-accent;

    outline: 4px dashed $color-accent_light;
    outline-offset: 4px;

    content: var(--droplabel);
}

:global .moonstone-tableHead {
    background-color: transparent;
}
