.root {
    position: absolute;

    display: flex;

    & > button {
        flex: 1 0 0;
        margin: 0 4px;

        & > span {
            flex: unset;
        }
    }
}

:global(.noprefix) .dropTarget {
    &::after {
        display: inline-block;
        width: 100%;
        height: 50px;

        border: 2px dashed gray;
        content: "";
    }
}
