.root {
    position: absolute;

    display: flex;

    & > button {
        flex: 1 0 0;
        margin: 0 4px;
    }
}

:global(.noprefix) .dropTarget {
    &::after {
        width: 100%;
        height: 50px;
        border: 2px dashed gray;
        content: "";
        display: inline-block;
    }
}
