.root {
    position: absolute;

    display: flex;
    align-items: center;

    box-sizing: border-box;

    border: 2px solid var(--color-danger_dark);

    background: var(--color-danger60);

    pointer-events: none;
    justify-items: center;
}

.label {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;

    color: var(--color-light);

    & p {
        color: var(--color-light);
    }
}
