.contentStatuses {
    display: inline-flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    & > *:not(:first-child) {
        margin-left: var(--spacing-nano);
    }
}
