/.classpath
/.project
/.settings
.idea
*.iml
*.ipr
target
src/main/resources/javascript/bundles
node
node_modules
/src/main/resources/javascript/apps
/.externalToolBuilders
graphql.config.json
graphql.schema.json
.env
.vscode

coverage/
/storybook-static

# macOS
.DS_Store

# Don't commit build artifacts
/types

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
**/.yarn/*
!**/.yarn/patches
