.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.filters {
    margin-bottom: var(--moon-spacing-medium);
}

.dropDown {
    width: 200px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    gap: var(--moon-spacing-small);
    align-items: center;
    padding: var(--moon-spacing-small);

    border-bottom: 1px solid var(--moon-color-gray_light);

    &:first-child {
        border-top: 1px solid var(--moon-color-gray_light);
    }
}

.itemAction {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: var(--moon-spacing-nano);
    align-items: start;
    min-width: 120px;
}

.itemContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--moon-spacing-nano);
    min-width: 0;
}

.itemNames {
    display: flex;
    flex-wrap: wrap;
    gap: var(--moon-spacing-nano);
    align-items: baseline;
    min-width: 0;
}

.itemLanguage {
    display: inline-block;
    flex-shrink: 0;
    min-width: 25px;

    text-align: center;
}

.typeLabel {
    flex-shrink: 0;

    color: var(--moon-color-gray);
    text-transform: capitalize;
}

.targetName {
    max-width: 50%;
}

.technicalName {
    flex-shrink: 0;
    max-width: 50%;
}

.metadata {
    color: var(--moon-color-gray);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--moon-spacing-large);
}

.paginationContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: end;
}
