.formControl.formControl {
    position: relative;

    margin-bottom: var(--spacing-small);
    margin-left: -12px;
    padding: 8px 0 8px 8px;

    border-left: 4px solid transparent;

    scroll-margin-top: var(--spacing-big);
}

.formControlError.formControlError {
    border-left: 4px solid var(--color-warning60);
}

.errorMessage.errorMessage {
    margin-top: 4px;

    color: var(--color-warning);
}

.inputLabelContainer.inputLabelContainer {
    margin-bottom: var(--spacing-small);
}

.inputLabel.inputLabel {
    position: relative;

    display: inline-block;

    color: var(--color-gray_dark);
}

.inputDescription.inputDescription {
    margin-bottom: var(--spacing-small);

    color: var(--color-dark60);
}

.actions.actions {
    display: block;
    width: 48px;
}

.badge.badge {
    margin-left: var(--spacing-small);
}
