
.hidden {
    display: none;
}

.caption {
    padding: 0 var(--spacing-small);

    color: var(--color-gray60);
}

.gray {
    color: var(--color-gray);
}

.text {
    gap: var(--spacing-small);
    width: 100%;
    margin-top: calc(-1 * var(--spacing-nano));
    margin-bottom: var(--spacing-nano);
    padding-right: var(--spacing-small);
}

button.selectionButton {
    width: auto;

    // reset padding from .moonstone-collapsible_button
    padding: 0 var(--spacing-small);

    color: var(--color-gray_dark);
}

.tableContainer {
    max-height: 312px;

    -webkit-box-shadow: 0 -10px 16px 0 #30323433;
    -moz-box-shadow: 0 -10px 16px 0 #30323433;
    box-shadow: 0 -10px 16px 0 #30323433;
    overflow: hidden;
}

.tableContainer button.selectionButton {
    padding-bottom: var(--spacing-small);
}

.tableContainer.expanded {
    padding: var(--spacing-large);
    padding-bottom: var(--spacing-small);
}

.header {
    padding-bottom: var(--spacing-large);
}

.selectionTable {
    overflow: auto;

    position: relative;

    height: calc(100% - 24px); // header offset

    table {
        min-width: 1100px;
    }
}

.tableRow {
    .cellActions {
        max-width: 80px;

        visibility: hidden;

        pointer-events: none;
    }

    &:hover .cellActions {
        visibility: inherit;

        pointer-events: inherit;
    }
}
