.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0;
    height: 100%;

    background-color: #f6fafc;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:not(:empty) {
        padding: var(--spacing-small);
    }
}
