.grid.grid {
    display: flex;
    flex: 1 1 0;

    outline: none;
    overflow: hidden;

    background-color: var(--color-gray_light);
}

.gridEmpty.gridEmpty {
    flex: 1 1 0;
    margin: 0 !important;

    background-color: var(--color-gray_light);
}

.defaultGrid.defaultGrid {
    display: grid;
    flex: 1;
    gap: var(--spacing-medium);

    background-color: var(--color-gray_light);
    box-shadow: none;
}

.detailedGrid.detailedGrid {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding: 0 var(--spacing-medium) var(--spacing-medium);
    overflow-x: hidden;
    overflow-y: auto;
}

.empty.empty {
    margin: var(--spacing-small);

    text-align: center;
}
