.frameContainer {
    display: flex;
    height: 100%;
}

.fiftyPercentWidth {
    width: 50%;
}

.stagingOrLiveHeading {
    margin-bottom: var(--spacing-medium);
}

.leftMargin {
    margin-left: var(--spacing-small);
}
