.cellActions {
    position: absolute;

    display: none;
    justify-content: flex-end;
    width: 200px;
    height: 48px;

    background-color: rgb(239, 238, 238);
}

.icon {
    margin-right: 3px;

    vertical-align: bottom;
}

.cell {
    height: 48px;
}

.badge {
    background-color: var(--color-accent);
}
