.hideTab {
    display: none;
}

.dialogTitle.dialogTitle {
    margin: var(--spacing-small);
}

.dialogActions.dialogActions {
    margin: 0;
    padding: 16px;

    border-top: 1px solid var(--color-gray_light);
}

.checkbox {
    margin: 0 var(--spacing-nano);
}

.languageSwitcher {
    margin: var(--spacing-small) 0;
}

.languageSwitcher {
    margin: var(--spacing-small) 0;
}

.saveActions {
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.ceDialogContent.ceDialogContent {
    width: 960px;
    height: calc(100vh - 96px);
}

.main {
    :global(.moonstone-layoutContent) {
        margin-top: var(--spacing-small);
    }
}
