:root {
    --color-publicationStatus-published: #00aa4f;
    --color-publicationStatus-modified: #ef6c00;
    --color-publicationStatus-notPublished: #212121;
    --color-publicationStatus-mandatoryLanguageUnpublishable: #f6d62f;
    --color-publicationStatus-liveModified: #f6d62f;
    --color-publicationStatus-liveOnly: #f6d62f;
    --color-publicationStatus-conflict: #f6d62f;
    --color-publicationStatus-mandatoryLanguageValid: #f6d62f;
    --color-publicationStatus-deleted: #fb9926;
    --color-publicationStatus-markedForDeletion: #c00;
    --color-publicationStatus-unpublished: #cecece;
}
