:root {
  --color-publicationStatus-published: #00AA4F;
  --color-publicationStatus-modified: #EF6C00;
  --color-publicationStatus-notPublished: #212121;
  --color-publicationStatus-mandatoryLanguageUnpublishable: #F6D62F;
  --color-publicationStatus-liveModified: #F6D62F;
  --color-publicationStatus-liveOnly: #F6D62F;
  --color-publicationStatus-conflict: #F6D62F;
  --color-publicationStatus-mandatoryLanguageValid: #F6D62F;
  --color-publicationStatus-deleted: #FB9926;
  --color-publicationStatus-markedForDeletion: #CC0000;
  --color-publicationStatus-unpublished: #CECECE;
}
