/* stylelint-disable */
.root {
    // Full reset
    & * {
        position: static;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: auto;

        display: inline;
        float: none;
        clear: none;
        box-sizing: content-box;
        width: auto;
        min-width: 0;
        max-width: none;
        height: auto;
        min-height: 0;
        max-height: none;
        margin: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;

        font: normal;
        font-weight: normal;
        font-size: medium;
        font-family: inherit;
        font-style: normal;
        font-variant: normal;
        color: inherit;
        line-height: normal;
        direction: ltr;
        letter-spacing: normal;
        white-space: normal;
        text-align: inherit;
        text-align-last: auto;
        text-transform: none;
        text-decoration: none;
        text-indent: 0;
        text-shadow: none;
        vertical-align: baseline;
        word-spacing: normal;
        tab-size: 8;
        hyphens: none;
        unicode-bidi: normal;
        columns: auto;
        column-count: auto;
        column-fill: balance;
        column-gap: normal;
        column-rule: medium none currentColor;
        column-rule-color: currentColor;
        column-rule-style: none;
        column-rule-width: none;
        column-span: 1;
        column-width: auto;
        page-break-after: auto;
        page-break-before: auto;
        page-break-inside: auto;

        border: 0;
        border-width: medium;
        border-style: none;
        border-color: inherit;
        border-top: 0;
        border-top-width: medium;
        border-top-style: none;
        border-top-color: inherit;
        border-right: 0;
        border-right-width: medium;
        border-right-style: none;
        border-right-color: inherit;
        border-bottom: 0;
        border-bottom-width: medium;
        border-bottom-style: none;
        border-bottom-color: inherit;
        border-left: 0;
        border-left-width: medium;
        border-left-style: none;
        border-left-color: inherit;
        border-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-image: none;
        border-collapse: separate;
        border-spacing: 0;
        outline: 0;
        outline-width: medium;
        outline-style: none;
        outline-color: invert;
        list-style: none;
        list-style-position: outside;
        list-style-type: disc;
        list-style-image: none;
        table-layout: auto;
        empty-cells: show;
        caption-side: top;
        background: 0;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-position: 0 0;
        background-position-x: 0;
        background-position-y: 0;
        background-size: auto auto;
        background-clip: border-box;
        background-origin: padding-box;
        background-attachment: scroll;
        box-shadow: none;
        transform: none;
        transform-style: flat;
        backface-visibility: visible;
        perspective: none;
        perspective-origin: 50% 50%;
        visibility: visible;
        cursor: auto;
        opacity: 1;

        transition: none;
        transition-delay: 0s;
        transition-timing-function: ease;
        transition-duration: 0s;
        transition-property: none;
        animation: none;
        animation-name: none;
        animation-duration: 0;
        animation-play-state: running;
        animation-timing-function: ease;
        animation-delay: 0;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
        clip: auto;
        content: normal;
        counter-increment: none;
        counter-reset: none;
        orphans: 0;
        overflow: visible;
        overflow-x: visible;
        overflow-y: visible;

        /* May need to alter quotes for different locales (e.g fr) */
        quotes: '\201C' '\201D' '\2018' '\2019';
        text-decoration-color: inherit;
        text-decoration-line: none;
        text-decoration-style: solid;
        widows: 0;
    }
}

:global(.noprefix) .disablePointerEvents.disablePointerEvents.disablePointerEvents {
    pointer-events: none;
}

:global(.noprefix) .disablePointerEvents.disablePointerEvents.disablePointerEvents * {
    pointer-events: none;
}

:global(.noprefix) .disablePointerEvents.disablePointerEvents.disablePointerEvents *.enablePointerEvents {
    pointer-events: all;
}

:global(.noprefix) .dragging {
    opacity: 0.2;
}
