.languageSwitcher {
    justify-content: space-between;

    border-left: 1px solid var(--color-gray);
}

.languageSwitcher.fullWidth {
    width: inherit;
}

.label {
    padding: var(--spacing-nano) var(--spacing-small);

    border-left: 1px solid var(--color-gray);
}
