.isDeleted {
    text-decoration: line-through;
}

.tooltip.tooltip {
    display: unset;
}

.textSubheading {
    font-weight: 400;
    font-size: 12px;
    color: var(--color-gray);
    line-height: 16px;
}

.container {
    overflow: hidden;
}
