.root {
  margin-bottom: 10px;
  color: var(--color-accent_dark);
  background-color: #ffffff;
  height: 24px;
  padding: 2px 8px;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 8px rgba(19, 28, 33, 0.2));
}
