.fieldset {
    margin-right: 0;
    margin-bottom: calc(var(--spacing-small) * 4);
    padding: 0;

    border-bottom: none;

    .label {
        color: var(--color-gray);
    }
}

.academyLink {
    text-align: right;
}
