
.root.root {
    min-height: 70vh;
}

.dialogContent.dialogContent {
    overflow: hidden;
}

.left.left {
    overflow: auto;
}

.title.title {
    justify-content: space-between;
    align-items: center;
}

.panel.panel {
    display: flex;
    flex-direction: column;
}

.right.right {
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 0 var(--spacing-medium);

    background: var(--color-gray_light40);
}

.content.content {
    margin-top: var(--spacing-large);
}

.contentStatuses {
    padding: 0 var(--spacing-medium);
}

.chip {
    margin-left: var(--spacing-medium);
}

.actions.actions {
    border-top: 1px solid  var(--color-gray40);
}

.title {
    width: 100%;
}

.twoCols.twoCols {
    padding: 24px 24px 0 0;
}
