.root {
    min-width: 100%;

    max-width: 50%;
    height: 100%;
    padding: var(--moon-spacing-small) 0;
}

.tabs {
    display: flex;
    align-items: center;

    .closeButton {
        position: absolute;
        top: var(--moon-spacing-small);
        right: var(--moon-spacing-small);

        opacity: 0.6;
    }
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: var(--moon-spacing-large);
    padding: 0 var(--moon-spacing-medium);
    overflow: auto;
}
