.container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    gap: var(--spacing-nano);
    overflow: hidden;
}

.button {
    flex: 0 1 auto;
    min-width: 60px;

    color: var(--color-gray);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
