@import './reactTable/components/cells/Cells.scss';

.tableRow {
    flex-wrap: nowrap;

    &:hover .cellActions {
        visibility: inherit;
    }
}

.tableWrapper {
    position: relative;

    max-width: 100%;

    outline: none;
    overflow: auto;
}

.tableHeader {
    flex-wrap: nowrap;

    .header-name {
        flex-grow: 1;
    }
}

.empty {
    justify-content: center;
}

.pagination {
    min-height: 64px;
}
