
.dragZoneContentList {
    position: absolute;

    display: flex;
    width: 100%;
    height: 57vh;
    padding: var(--spacing-medium);
}

.dragZone {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}
