@import './reactTable/components/cells/Cells.scss';

.tableRow {
    &:hover .cellActions {
        visibility: inherit;
    }
}

.tableWrapper {
    position: relative;

    flex: 1 1 0;
    max-width: 100%;

    outline: none;
    overflow: auto;
}

.tableHeader {
    .header-name {
        flex-grow: 1;
    }
}

.empty {
    justify-content: center;
}
