.publishActions {
    position: relative;

    & button:not(:first-child) {
        margin-left: 1px;
    }
}

.headerToolBar {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    margin-top: 1px;
}

.headerMainActions {
    display: flex;
    flex-flow: row wrap;
    gap: var(--moon-spacing-small);
    justify-content: center;
    align-items: center;
    min-height: 0;
}
