.translate {
    // Place the translate button just left of the field
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;

    display: flex;
    align-items: center;
    margin-right: calc(var(--spacing-large) - 2px); // Substract border width for better effect
    padding-right: var(--spacing-small);

    border-right: 2px solid transparent;

    &:has(> button:not(:disabled)):hover {
        border-right-color: var(--color-accent);
    }
}
