.dropZone {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: inherit;

    color: var(--color-gray);
    text-align: center; // This one is for Safari rendering

    border: 2px dashed var(--color-gray60);
}

.dropZoneEnabled {
    border: 4px solid var(--color-accent_light60);
}

.emptyZone {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: inherit;

    color: var(--color-gray);
    text-align: center; // This one is for Safari rendering

    transition-duration: 0.1s;
}
