.root {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: flex;
    min-width: 6px;
    height: 100%;
    min-height: 32px;
}

.publicationInfoWrapper {
    display: flex;
    overflow: hidden;

    width: 0;
    min-width: 0;
    max-width: 0;

    border-right: 1px solid white;

    transition: width 0.2s, max-width 0.2s, min-width 0.2s;

    &:hover {
        width: 100%;
        max-width: 100%;
    }
}

.border {
    width: 6px;

    cursor: pointer;

    &:hover ~ .publicationInfoWrapper {
        width: 100%;
        max-width: 100%;
    }
}

.publicationInfo {
    display: flex;
    align-items: center;
    margin: 8px;
}

.spacing {
    margin-right: 8px;
}

.published {
    color: white;

    background-color: #00aa4f;
}

.modified {
    color: white;

    background-color: #ef6c00;
}

.notPublished {
    color: black;

    background-color: gray;
}

.unPublished {
    color: black;

    background-color: #cecece;
}

.markedForDeletion {
    color: white;

    background-color: #c00;
}

.mandatoryLanguageUnpublishable {
    color: black;

    background-color: #f6d62f;
}

.mandatoryLanguageValid {
    color: black;

    background-color: #f6d62f;
}

.conflict {
    color: black;

    background-color: #f6d62f;
}

.unknown {
    color: black;

    background-color: #f6d62f;
}

.noStatus {
    color: black;

    background-color: #cecece;
}

//published: {
//  main: '#00aa4f'
//},
//modified: {
//  main: '#EF6C00'
//},
//notPublished: {
//  main: _core.colors.grey[900]
//},
//mandatoryLanguageUnpublishable: {
//  main: '#F6D62F'
//},
//liveModified: {
//  main: '#F6D62F'
//},
//liveOnly: {
//  main: '#F6D62F'
//},
//conflict: {
//  main: '#F6D62F'
//},
//mandatoryLanguageValid: {
//  main: '#F6D62F'
//},
//deleted: {
//  main: '#FB9926'
//},
//markedForDeletion: {
//  main: '#CC0000'
//},
//unpublished: {
//  main: '#CECECE'
//}
