.listItem {
    display: flex;
    align-items: center;
    height: 100%;

    color: var(--color-light);
}

.listItem.hasError {
    align-items: flex-start;
}

.uploadErrors {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    p {
        white-space: nowrap;
        text-align: right;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.grow {
    flex-grow: 1;
}

.fileNameText {
    width: 220px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.statusIcon {
    margin-right: var(--spacing-nano);
}

.tagIcon {
    margin-right: var(--spacing-nano);
    margin-left: var(--spacing-nano);
}

.actionButton {
    align-items: flex-start;
}

.progressText {
    white-space: nowrap;
}
