.ContentTree_Item.notPublished {
    color: var(--color-gray_light60);
}

.ContentTree_Item .ContentTree_ItemIcon {
    position: relative;

    width: 32px;
    height: 32px;
}

.ContentTree_Item .ContentTree_ItemStatusIcon {
    position: absolute;

    top: 8px;
    left: 8px;
}

.ContentTree_Item:hover .ContentTree_ItemStatusIcon {
    display: none;
}

.ContentTree_Item .ContentTree_ItemMenuIcon {
    position: absolute;
    top: 1px;
    left: 1px;

    display: none;
}

.ContentTree_Item:hover .ContentTree_ItemMenuIcon {
    display: block;
}
