.fieldset {
    margin-right: 0;
    margin-bottom: var(--spacing-medium);
    padding: 0;

    border-bottom: none;

    .label {
        color: var(--color-gray);
    }
}

.dropdown {
    border: 1px solid #e0e6ea;
}
