.layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;

    width: 100vw;
    height: 100vh;

    pointer-events: none;
}

.box {
    width: fit-content;
    max-width: 300px;
    padding: var(--spacing-small);

    color: var(--color-gray_dark);

    border-radius: 2px;
    background-color: var(--color-light);
    box-shadow: 2px 2px 20px 0 rgba(19, 28, 33, 0.2);
}

.icon.icon {
    width: 1rem;
    height: 1rem;
    margin: 0 var(--spacing-nano);
}
