.referenceCard {
    cursor: pointer;

    &[disabled="true"] {
        cursor: default;
    }

    &[draggable="true"] {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}
