.referenceCard {
    &[disabled="true"] {
        cursor: default;
    }

    &[draggable="true"] {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}

.referenceCard_hasClick {
    cursor: pointer;
}
