.fieldSetTitleContainer {
    display: flex;
    flex-flow: column wrap;
    margin: 0 var(--spacing-large) 0 0;
    padding: 0 0 var(--spacing-small);

    color: var(--color-gray_dark);
}

.toggle.toggle {
    height: 24px;

    & > span:nth-child(1) {
        top: -12px;
    }
}

.fieldSet:not(:last-child) {
    margin-bottom: var(--spacing-large);
}

.fieldSetOpen:not(:last-child) {
    margin-bottom: var(--spacing-big);
}

.fieldSetTitle {
    width: auto;
}

.fieldSetDescription {
    margin-top: var(--spacing-nano);

    color: var(--color-dark60);
}

.fields {
    margin-left: var(--spacing-large);
}
