.wrapper {
    display: flex;
    flex: 1; // Fill the parent container vertically
    overflow: hidden; // Children handle their own scrollbar

    background: var(--moon-color-light);
}

.twoColumnsRoot {
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    .col {
        display: flex;
        flex-direction: column;
        min-width: 0;
        padding: var(--moon-spacing-medium);
        overflow: hidden;
    }

    /* This hides scrollbars across modern browsers */
    .hideScrollbar {
        /* Firefox */
        scrollbar-width: none;

        /* IE 10+ */
        -ms-overflow-style: none;
    }

    .hideScrollbar::-webkit-scrollbar {
        /* For WebKit browsers */
        display: none;
    }
}
