.addButton {
    margin: var(--spacing-small) 0;
}

.referenceCardActions {
    display: flex;

    visibility: hidden;

    pointer-events: none;
}

.draggableCard.draggingCard {
    background-color: var(--color-accent_light_plain20);

    * {
        opacity: 0;
    }
}

.draggableCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: var(--spacing-small) 0;

    &[draggable="true"] {
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }

    &:hover * > * {
        visibility: visible;

        pointer-events: auto;
    }

    :global(.moonstone-checkbox) {
        margin-left: 0 !important;
    }
}

//OrderableValue
.draggableIcon {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.notDraggableIcon {
    opacity: 0.4;
}
