.fieldComponentContainer {
    display: flex;

    // v in picker & orderablevalue but not in multiplefields
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-nano);
}

.addButton {
    margin: var(--spacing-small) 0;

    text-transform: uppercase;
}

.referenceDropGhostHidden {
    width: 100%;
    height: 0;

    background-color: var(--color-accent);

    transition: all 0.3s ease;
}

.referenceDropGhost {
    height: 72px;
    margin: 8px 0;
}

.draggableCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: var(--spacing-nano);

    // v only in orderableValue
    :global(.moonstone-checkbox) {
        margin-left: 0 !important;
    }
}

//DropableSpace
.dropable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 0;
}

//OrderableValue
.draggableIcon {
    cursor: grab;
}
