.dialogTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-large) var(--spacing-large) var(--spacing-small) var(--spacing-large);
}

.dialogContent {
    width: 600px;
    padding: var(--spacing-large) calc(var(--spacing-small) * 4);
}

.dialogActions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: var(--spacing-small) var(--spacing-large) var(--spacing-medium) var(--spacing-large);

    button {
        margin: 0 var(--spacing-nano);
    }
}
