.dialogTitle.dialogTitle {
    margin: var(--spacing-small);
}

.dialogContent.dialogContent {
    padding: 0 var(--spacing-huge);
}

.dialogActions.dialogActions {
    margin: 0;
    padding: 16px;

    border-top: 1px solid var(--color-gray_light);
}

.saveActions {
    position: relative;
}
