.cellActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: inherit;
    height: 48px;

    background-color: transparent;

    visibility: hidden;
}

.cellName {
    flex-grow: 1;
}

.cellLastModified {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visibleActions {
    div {
        width: inherit;
    }
}

.icon.icon {
    width: 1rem;
    height: 1rem;
    margin: 0 var(--spacing-nano);

    vertical-align: top;
}

.publicationStatusCell div {
    padding-left: 0;
}

.badge {
    background-color: var(--color-accent);
}

.statusCellItem {
    margin-right: var(--spacing-small);
}

.deleted {
    text-decoration: line-through;
}
