.margins.margins {
    width: 100%;
    max-width: 500px;
    margin-top: var(--spacing-medium);

    span {
        display: block;

        color: var(--color-danger);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.button {
    position: absolute;
    right: var(--spacing-medium);
}
