.margins.margins {
    width: 100%;
    max-width: 500px;
    margin-top: var(--spacing-medium);

    span {
        color: var(--color-danger);
    }
}

.button {
    position: absolute;
    right: var(--spacing-medium);
}
