.content.content {
    width: 100%;
    margin-top: var(--spacing-medium);

    span {
        flex: 0 1 auto;
        max-width: 500px;

        color: var(--color-danger);
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.button {
    position: absolute;
    right: var(--spacing-medium);
}
