.root {
    position: relative;

    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    width: 100%;
    min-height: 0;

    background-color: var(--color-gray_light);
    overflow: hidden;
}

.content {
    display: flex;
    flex: 1 1 0;
    min-width: 0;
    overflow: hidden;

    background-color: var(--color-gray_light);
}

.contentPaper.contentPaper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}

.sidePanel {
    display: flex;
    flex: 0 0 600px;
    min-width: 0;
    overflow: hidden;
}

.sidePanelFullScreen {
    flex: 1 1 100%;
}

.loader {
    position: absolute;
    z-index: 19999;

    width: 100%;
    height: 100%;

    background-color: var(--color-light40);
}
