.root {
    position: absolute;

    pointer-events: none;
}

.defaultZIndex {
    z-index: 15000;
}

.alwaysDisplayedZIndex {
    z-index: auto;
}

.rel {
    position: relative;

    display: block;

    margin-left: -2px;
}

.relHeader {
    top: -34px;
    left: 0;

    width: calc(100% + 4px);
    height: calc(100% + 36px);
}

.relHeaderAndFooter {
    top: -34px;
    left: 0;

    width: calc(100% + 4px);
    height: calc(100% + 64px);
}

.relNoHeader {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.relFooter {
    position: absolute;
    bottom: 0;

    z-index: 15000;

    display: flex;

    align-items: center;

    width: 100%;
    height: 32px;

    border-radius: 0 0 4px 4px;

    //This is equivalent to grey_light40 but with full opacity
    background-color: rgb(237, 237, 237);

    pointer-events: all;

    overflow: hidden;
}

.headerContainer {
    top: 0;
    left: 0;

    width: 100%;
    height: 32px;

    border-radius: 4px 4px 0 0;

    background-color: var(--color-light);

    pointer-events: all;

    overflow: hidden;

    .sticky {
        position: sticky;
    }
}

.absolute {
    position: absolute;
    z-index: 15000;

    width: 100%;
    height: 32px;

    background-color: var(--color-light);

    pointer-events: all;

    overflow: hidden;
}

.header {
    gap: var(--spacing-small);
    align-self: stretch;
    width: 100%;

    padding: 0 var(--spacing-small);

    background-color: var(--colorHeaderBackground, var(--color-gray_light40));

    button {
        min-width: max-content;
    }
}

.dragHandle {
    flex: 0 0 auto;
    height: 32px;
}

.button {
    flex: 0 0 auto;
    margin: 0 4px;
}

.icon {
    flex: 0 0 auto;
    width: 1rem;
    height: 1rem;
    margin: 0 var(--spacing-nano);

    vertical-align: top;
}

.title {
    flex-grow: 3;
    flex-shrink: 2;
}

.horizontalInsert {
    border-bottom: 2px dashed rgb(99, 209, 255);
}

.verticalInsert {
    border-right: 2px dashed rgb(99, 209, 255);
}

:global .moonstone-tableHead {
    background-color: transparent;
}

.selected {
    z-index: 15000;

    border-radius: 4px;
    outline: 2px solid var(--colorSelected);
    background-color: var(--colorBackgroundSelected);
    box-shadow: 0 4px 8px 0 rgba(19, 28, 33, 0.2);
}

.current {
    z-index: 18000;

    border-radius: 4px;
    outline: 2px solid var(--colorCurrent);
    outline-style: dashed;
    background-color: var(--colorBackgroundCurrent);
    box-shadow: 0 4px 8px 0 rgba(19, 28, 33, 0.2);
}

.dropArea {
    border: 2px solid var(--color-accent_light);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(19, 28, 33, 0.2);
}

.dropAreaHeader {
    position: relative;
    top: -34px;

    display: flex;
    width: calc(100% + 10px);
    height: 36px;

    background-color: var(--color-accent_light);
}

.draggedOverlay {
    background-color: var(--color-gray_light60);
}

.notAllowed {
    z-index: 16000;

    //background-color: rgba(240, 0, 0, 0.45);
    //background-clip: content-box;
    //background-blend-mode: overlay;
    //-webkit-backdrop-filter: blur(5px);
    //backdrop-filter: blur(5px);
    border: 3px solid #ec7481;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(19, 28, 33, 0.2);
}

.dropAreaHeaderNotAllowed {
    position: relative;
    top: -36px;
    z-index: 16000;

    display: flex;
    width: calc(100% + 6px);
    height: 36px;
    margin-left: -3px;

    background-color: #ec7481;
    background-blend-mode: overlay;
}
