$barHeight: 32px;
$barMargin: 2px;
$indexSelected: 25000;
$indexHovered: 18000;

.root {
    position: absolute;

    pointer-events: none;
}

.defaultZIndex {
    z-index: 15000;
}

.alwaysDisplayedZIndex {
    z-index: auto;
}

.box {
    position: relative;

    display: block;

    outline-color: transparent;

    transition: all 0.15s ease-out;
}

.boxSelected {
    z-index: $indexSelected;

    outline: 2px solid var(--borderColorSelected);
    box-shadow: 0 3px 20px 9px rgba(19, 28, 33, 0.1);
}

// Hover
.boxHovered:not(.boxSelected) {
    z-index: $indexHovered;

    outline: 2px dashed var(--borderColorHovered);
}

.withHeader {
    top: calc($barHeight + $barMargin) * -1;
    left: 0;

    width: 100%;
    height: calc(100% + $barHeight + $barMargin);
}

.withHeaderAndFooter {
    top: ($barHeight + $barMargin) * -1;
    left: 0;

    width: 100%;
    height: calc(100% + $barHeight * 2 + $barMargin);
}

.withNoHeader {
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.boxFooter {
    position: absolute;
    bottom: 0;

    z-index: $indexSelected;

    display: flex;

    align-items: center;

    width: 100%;
    height: $barHeight;

    background-color: var(--color-accent_plain20);

    pointer-events: all;
}

.boxHeader {
    gap: var(--spacing-small);

    width: 100%;

    height: $barHeight;

    padding: 0 var(--spacing-small);

    border-radius: 4px;

    background-color: var(--backgroundColorBase);

    transition: background 0.4s ease-in-out;

    // box-shadow: 0 1px 3px 0 rgba(19, 28, 33, 0.3);

    pointer-events: all;

    &.isHighlighted,
    &:hover {
        background-color: var(--backgroundColorHovered);
    }

    &.isClicked {
        position: sticky;
        top: 0;
        left: 0;
        z-index: $indexSelected;

        border-radius: 0;

        background-color: var(--backgroundColorSelected);
    }

    button {
        min-width: max-content;
    }
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    z-index: $indexSelected;
}

.horizontalInsert {
    border-bottom: 2px dashed var(--color-accent_light);
}

.verticalInsert {
    border-right: 2px dashed var(--color-accent_light);
}

:global .moonstone-tableHead {
    background-color: transparent;
}

.dropArea {
    outline: 2px solid var(--color-accent_light);

    // border-radius: 4px;
    box-shadow: 0 3px 20px 9px rgba(19, 28, 33, 0.1);
}

.dropAreaHeader {
    position: relative;
    top: -34px;

    display: flex;
    width: calc(100% + 10px);
    height: 36px;

    background-color: var(--color-accent_light);
}

.draggedOverlay {
    background-color: var(--color-gray_light60);
}

.boldTitle {
    font-weight: 700;
    font-size: var(--spacing-medium);
    line-height: var(--spacing-medium);
}
