.root {
    // Hide button label depending on size and number of children
    @for $i from 1 through 10 {
        &:global(.sizer#{$i}) {
            & > button:first-child:nth-last-child(#{$i}) > span, & > button:first-child:nth-last-child(#{$i}) ~ button > span {
                display: none;
            }
        }
    }

    position: absolute;

    display: flex;
    flex-wrap: nowrap;

    & > button {
        flex: 1;
        overflow: hidden;

        z-index: 10000;

        margin: 0 4px;

        & > svg {
            flex: 0 0 auto;
        }

        & > span {
            flex: unset;
        }
    }
}

:global(.noprefix) .dropTarget {
    &::after {
        display: inline-block;
        width: 100%;
        height: 50px;

        border: 2px dashed gray;
        content: "";
    }
}

.tooltipPopper {
    z-index: 5000000;
}
