.root {
    position: absolute;

    z-index: 25000;

    align-items: center;

    box-sizing: border-box;

    border: 2px solid var(--color-danger);

    background: var(--color-danger60);

    pointer-events: none;
}

.badge {
    position: absolute;
    top: 0;
    right: var(--spacing-small);

    transform: translateY(-50%);
}
