.root {
    // Referenced in EditFrame.jsx to scope at runtime

    // Ensure .root is not removed during the build
    :global(.keepme) {
        display: block;
    }
}

:global(.noprefix) .disablePointerEvents.disablePointerEvents.disablePointerEvents {
    pointer-events: none;
}

:global(.noprefix) .disablePointerEvents.disablePointerEvents.disablePointerEvents * {
    pointer-events: none;
}

:global(.noprefix) .disablePointerEvents.disablePointerEvents.disablePointerEvents *.enablePointerEvents {
    pointer-events: all;
}

:global(.noprefix) .dragging {
    opacity: 0.2;
}

:global(.noprefix) .marginTop.marginTop.marginTop.marginTop {
    margin-top: 46px;
}

:global(.noprefix) .parentPadding {
    padding-top: 36px;
}

:global(.noprefix) .smallerBox {
    margin-right: 2px;
    margin-left: 2px;
}

.frame {
    position: relative;

    flex: 1;
    margin: 0;
}
