.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs {
    padding: var(--spacing-medium) var(--spacing-medium) 0;

    border-bottom: 1px solid var(--color-border);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}
