.root {
    width: stretch;
    height: 100%;
}

.tabs {
    border-bottom: 1px solid var(--color-border);
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
}
