.visibleActions {
    div {
        width: inherit;
    }
}

.cellLocation {
    flex-grow: 2;
}

.text {
    min-width: 0;

    text-overflow: ellipsis;
    overflow: hidden;
}

div.cellTooltip {
    max-width: none;

    font-size: 0.8rem;

    color: var(--color-dark);

    white-space: nowrap;

    background-color: var(--color-gray_light40);
}

.badges {
    & > div {
        margin-left: var(--spacing-nano);
    }
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 20px;
}
