.radio.radio {
    max-width: 100%;

    > span:first-child {
        padding: var(--spacing-small) var(--spacing-small) var(--spacing-small) 12px;
    }

    > span:last-child {
        font-size: 0.875rem;
        color: var(--color-dark);
        white-space: nowrap;
        overflow: hidden;

        text-overflow: ellipsis;
    }
}

.label {
    color: var(--color-gray);
}
