.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--moon-spacing-large);
    overflow-y: auto;
}

.empty {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    height: 100%;

    color: var(--moon-color-gray);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--moon-spacing-medium);
}

.sectionTitle {}

.copyButton {
    flex-shrink: 0;
    margin-left: var(--moon-spacing-small);

    vertical-align: middle;

    visibility: hidden;

    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.detailRow {
    display: flex;
    flex: 1;
    flex-direction: row;
    min-width: 0;

    &:hover {
        .copyButton {
            visibility: visible;
        }
    }
}

.detailsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--moon-spacing-small) var(--moon-spacing-medium);

    .detailRow {
        margin-bottom: 0;
    }
}

.label {
    width: 25%;
}

.valueWrapper {
    display: flex;
    flex: 1;
    min-width: 0;
}

.value {}

.chips {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: var(--moon-spacing-nano);
    align-items: center;
    min-width: 0;
}

.linkValue {
    flex: 1;
    min-width: 0;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.languageLabel {
    display: block;
    margin-top: var(--moon-spacing-small);
    margin-bottom: var(--moon-spacing-nano);

    color: var(--color-gray);
}
