.ceDialogRootFullscreen.ceDialogRootFullscreen {
    right: 0;
    left: unset;

    // Reduce zIndex to be able to display the old edit engine tabs
    z-index: 1031;

    width: calc(100vw - 56px);
}

.ceDialogContent.ceDialogContent {
    width: 960px;
    height: calc(100vh - 96px);
}
