/**
 * Isolate JContent UI elements from client page styles. This reset only
 * needs to be applied to the root element (#jahia-portal-root).
 *
 * Moonstone has its own reset that must be applied after this one in order
 * to work properly.
 */
.reset {
    all: revert-layer;

    box-sizing: border-box;

    font: normal 16px "Nunito Sans Variable", system-ui, sans-serif;
    color: var(--moon-color-dark);

    ::before,
    ::after,
    *,
    *::before,
    *::after {
        all: revert-layer;

        box-sizing: inherit;
    }
}
