name: Publish tests module to NPM registry
on:
  workflow_dispatch:
    inputs:
      is_dry_run:
        description: 'DRY RUN: (SHOULD ONLY BE RUN ON NON-MASTER branch) Indicate if the workflow triggered is a dry-run of the release'
        type: boolean
        required: false
        default: false

permissions:
  id-token: write  # Required for OIDC
  contents: write

jobs:
  npm_publish:
    name: Build and publish tests module to NPM registry
    runs-on: ubuntu-latest

    steps:
      # Providing the SSH PRIVATE of a user part of an admin group
      # is necessary to bypass PR checks
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.GH_SSH_PRIVATE_KEY_JAHIACI }}
      # Setting up the SSH agent to be able to commit back to the repository
      # https://github.com/webfactory/ssh-agent
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.GH_SSH_PRIVATE_KEY_JAHIACI }}
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
      - name: Setting up github configuration
        shell: bash
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          git config --global user.email "jahia-ci@jahia.com"
          git config --global user.name "Jahia CI"
      - name: Build and publish jContent test module
        shell: bash
        run: |
          cd tests
          npm get
          ls -lah

          echo; echo "Fetching dependencies..."
          yarn

          echo; echo "Building tests module..."
          yarn build

          echo; echo "Incrementing version for release.."
          yarn version --prerelease --preid=tests
          git push --follow-tags 

          if "${{ inputs.is_dry_run }}"; then
            if "${{ github.ref }}" == 'refs/heads/master'; then
              echo "Dry run should be executed in non-master branch"
            else
              echo "Executing npm publish in dry-run mode"
              npm publish --access public --dry-run
            fi
          else 
            echo "Publishing jContent tests in npm..."
            npm publish --access public
          fi
