# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

# Jahia DX Studio
repository.xml.generated

# yarn 4
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
